.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: rgba(237, 237, 237, 0.698);
    box-shadow: 0px 2px 5px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    font-family: 'Inter', sans-serif;
    padding: 30px 0px;
    border-radius: 4px;
    gap: 30px;
}

.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: #FFFFFF;
    background-color: var(--brand1);
    font-weight: 700;
    font-size: 20px;
}

.card-info--primary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

h3{
    font-weight: 700;
}
h3, h5{
    color: rgb(38, 94, 112);
}